# Next.js
frontend/.next/
frontend/node_modules/
frontend/out/
frontend/build/
frontend/next-env.d.ts

# Python (FastAPI/Backend)
**/__pycache__/
**/venv/
**/.venv/
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.memory
.pytest_cache/
instance/
.webassets-cache
.spyderproject
.spyproject
.ropeproject
.my.cnf
.dmpr
db.sqlite3

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
backend/.env.example
backend/.env
frontend/.env
frontend/.env.local


# Misc
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.pem
*.key
*.crt
*.sh
!backend/run.sh

# IDEs
.vscode/
.idea/
*.swp
*.swo
